
<div class="question">
    <h1 class="text-center">
        Svp reponder au question suivant
      </h1>
    <div class="panel panel-default"> 
      <div class="panel-heading">
    <div class="text-center">
      <h1>
        
      </h1>
    </div>
    
    </div>
    <form class="form-signin panel-body" (ngSubmit)="onValide(f)"  #f="ngForm">
      <div class="text-center mb-4">
      </div>
    
      <div class="form-label-group">
          <label class="text-center" for="select">{{data}}</label>
          <select class="form-control" #select="ngModel" ngModel name="select" ngModelid="select">
              <option value="">svp selection votre repose</option>
            <option value="0">oui</option>
            <option value="1">non</option>
          </select>   
      </div>
    
     
      <button class="btn btn-lg btn-primary btn-block" [disabled]="!select.value" type="submit" >Valider</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
    </div>
    <h1 class="text-center">
        {{result}}
      </h1>
    </div>